{% extends "base.html" %}
{% block content %}
<div class="center">
    <h1>Add a new book to the library</h1>
    <form action="/books" method = "POST">
        <div class="inputbox">
            <input type="text" id="title" name="title" required autofocus>
            <span>Title</span>
        </div>
        
        <div class="inputbox">
            <input type="text" id="genre" name="genre" required>
            <span>Genre</span>
        </div>
        
            <span>Author</span>
            <select id="author" name="author_id">
            {% for author in all_authors %}
                <option value ="{{author.id}}">{{author.name}}</option>
            {% endfor %}
            </select>
            
        <div class="inputbox">
        <input type="submit" value = "Add Book">
        </div>
    </form>
</div>
{% endblock %}