body{
    font-family: "Helvetica", arial, sans-serif; font-size: 20px;
    background-image: url("library_image.jpg");
    background-color : rgb(56, 4, 4);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    color: white
  }

h1 {
    color: rgb(252, 251, 254);
    font-size: 2em
  }

.title {
    color: rgb(31, 4, 4);
    font-weight: bold;
    margin-bottom: 5pt;
}

.author {
    font-size: 16pt;
    margin-bottom: 5pt;
}

.genre {
    font-size: 12pt;
    margin-bottom: 5pt;
}

a {
    font-size: 12pt;
    margin-bottom: 5pt;
}

ul > a {
    color: rgb(31, 4, 4);
    font-size: smaller;
    position: relative;
    padding: 10px;
    top: 5px;
    border:2px solid rgb(31, 4, 4);
    background-color: bisque;
}

.welcome {
    font-size: 34pt;
}

.container{
    display: flex;
    flex-wrap: wrap;
  }

.book {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(56, 4, 4);
    background-color: bisque;
    color:rgb(56, 4, 4);
    width: 18vw;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

/* style the input form */
.center {
    position: relative;
    padding: 5px 5px;
    background: bisque;
    border : 5px solid black;
    border-radius: 5px;
    width: 310px;
    }
.center h1 {
    font-size: 1.3em;
    padding: 1px;
    text-align: center;
    color: rgb(56, 4, 4);
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
    font-family: "Helvetica", arial, sans-serif;
    }
.center .inputbox {
    position: relative;
    justify-content:center;
    width: 270px;
    height: 50px;
    margin-bottom: 20px;
    }
.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    color :black;
    font-size: 1em;
    }
.center .inputbox:last-child {
    margin-bottom: 0;
    }
.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    }
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
    }
    .center .inputbox [type="submit"] {
    width: 100%;
    background: rgb(56, 4, 4);
    color: white;
    border: #fff;
    }
.center .inputbox:hover [type="submit"] {
    background: rgb(183, 88, 88);
    }

span {
    color: rgb(56, 4, 4);
}